.breadcrumbs {
    margin-bottom: 1.4rem;
}
.breadcrumbs__list {
    text-transform: lowercase;
    font-size: 14px;
}
.breadcrumbs__list span a {
    color: var(--grey);
    font-weight: 400;
}

@media (max-width:689.98px) {
    .breadcrumbs {
        display: none;
    }    
}